body , html {
  width: 100%;
  margin: 0;

}

*{
  text-decoration: none;
  list-style: none;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  margin: 0;
}

img{
  width: 100%;
  height: 100%;
}

/*   @@@@@@@@@@@@ HEADER @@@@@@@@@@@@@@@
                @@@@@@@@@*/

/*logo header*/
header div{
  display: inline-flex;
  align-items: center;
  margin: 20px 0 0 20px;
}
.logoheader{
  width: 35px;
}
.fa-angle-down{
  color: grey;
  display: inline-block;
}

/*H1*/
h1 span{
  font-family: Rubik, sans-serif;
  font-weight: bold;
  color: #ff5959;
}
h1{
  margin: 30px 0 0 30px;
  font-size: 22px;
  color: #4C4C4C;
  line-height: 30px;
}

/*nav*/
header nav{
  display: none;
}

/*   @@@@@@@@@@@@ FORMULAIRE + NAV @@@@@@@@@@@@@@@
                @@@@@@@@@*/

.formulairetop{
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  width: 85%;
  height: 40px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  white-space: nowrap;
  overflow-x: hidden;
}

/*Phone*/
  /*formulaire tablette*/
.formulairetoptablette{
  display: none;
}
  /*formulaire pc*/
.formulairetop form{
  display: none;
}
  /*formulaire phone*/
.formulairetopphone{
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #4C4C4C;
}
.fa-search ,.fa-calendar-o,.fa-user-o{
  color: grey;
}

/*NAV (Recommandé logement.etc..)*/
.navformulairetop ul {
  margin: 70px 0 0 20px;
  padding-left:0;
  overflow-x: auto;
  width: 90%;
  height: 30px;
  white-space: nowrap;
}
.navformulairetop ul li{
  display: inline-block;
  margin-right: 20px;
}
.navformulairetop a{
  font-weight: bold;
  font-size: 12px;
  color: #6c6d6d;
}
.navformulairetop li:first-child a{
  color:#25898e;
  border-bottom: 2px solid #25898e;
  padding-bottom: 10PX;
}
/*icon arrow*/
.fa-2x{
  font-size: 30px;
  position: absolute;
  right: 20px;
  top: 335px;
  color: grey;
}
/*hr (séparator)*/
hr{
  border: 1px solid #e0e0e0;
  width: 92%;
  margin: auto;
}

/*   @@@@@@@@@@@@ articles  @@@@@@@@@@@@@@@
                @@@@@@@@@*/

.articles{
  margin-top: 50px;
  margin-left: 20px;
  white-space: nowrap;
  overflow-x: auto;
}

.articles a{
  display: inline-block;
  width: 40%;
  margin-left: 10PX;
}

/*titre de la section ".articles" */
.articles h2 , .revenus h2{
  font-weight: bold;
  color: #4C4C4C;
}

.articles h2{
  margin-left: 10px;
  font-size: 22px;
  position: absolute;
}

.articles article{
  margin-top: 45px;
  padding-bottom: 10PX;
  width: 100%;
}

/*img*/
article figure{
  width: 100%;
}

/*pargraphe*/
.articles p{
  color: #707070;
  font-size: 14px;
  white-space: normal;
}

.articles p strong{
  font-weight: bold;
  color: #4C4C4C;
}
.articles p strong:last-child{
  font-size: 12px;
}

/*stars*/
.articles p i{
  color: #38a593;
  margin-right: 3px;
}
.articles div{
  display: none;
}


/*Revenus*/
.revenus{
  margin-top: 50px;
  margin-left: 0px;
}
.revenus div{
  display: block;
}
.revenus p, .revenus h2 {
  margin-left: 20px;
  color: #4C4C4C;
  width: 90%;
}
 .revenus p, .revenus h2, .revenus input, .revenus figure{
   margin-top: 20px;

 }
.revenus input{
  font-weight: bold;
  color: white;
  padding-left:10PX;
  padding-right: 10Px;
  margin-left: 20px;
  background-color: #168993;
  border: none;
  border-radius: 5px;
  height: 35Px
}
.revenus figure{
  width: 100%;
}
/*   @@@@@@@@@@@@ Section bottom  @@@@@@@@@@@@@@@
                @@@@@@@@@@@@@@@@@*/
/*Nav*/
.sectionbottom{
  margin-left: 15px;
}
.sectionbottom nav{
  display: none;
}

/*Select*/
.langue{
  font-size: 20px;
  margin: auto;
  margin: 25px 0 0 5px;
  padding-left: 20px;
  background-color: white;
  border: 1px solid #e0e0e0;
  height: 50px;
  width: 45%;
  display: inline-block;
}
.langue{
}

/* Hr 'separator'*/
.sectionbottom hr:first-child{
  margin: 50PX 0 0 0;
  width: 100%;
}
.sectionbottom hr:last-child{
  margin: auto;
  margin-top: 25px;
  width: 85%;
}

/*   @@@@@@@@@@@@ Footer  @@@@@@@@@@@@@@@
                @@@@@@@@@*/
.logofooter{
  position: absolute;
  width: 25px;
  height: 25px;
  margin:5px 0 0 8px;
}

/*nav*/
footer nav{
  margin: 20px 0 40Px 0;
}

footer li:first-child{
  display: block;
}
footer a, footer li{
  color: grey;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  display: inline-block;
}

footer i {
  font-size: 18px;
  margin-right: 10px;
}

/*      000000
    0000000000000
  0000 TABLETTE 000-------/-------/----------/-----
    000000000000
        00000
*/
@media (min-width: 768px) {

  /*   @@@@@@@@@@@@ HEADER @@@@@@@@@@@@@@@
                  @@@@@@@@@*/
  h1{
    margin-top: 60px;
    font-size: 44px;
    line-height: 56px;
  }

  /*   @@@@@@@@@@@@ Section TOP @@@@@@@@@@@@@@@
                  @@@@@@@@@*/
    /*Hide phone size*/
  .formulairetopphone{
    display: none;
  }

  /* Englobeur général*/
  .formulairetop{
    padding-left: 0;
    height: 50px;
    margin-top: 70px;
    width: 90%;
    overflow-y: hidden;
  }

  /*open tablette size*/
  .formulairetoptablette{
    height: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }

  /*Cases*/
  .formulairetoptablette i {
    height: 100%;
    padding-top: 60%;
    margin-left: 10%;
    padding-left: 10%;
  }

  .formulairetoptablette span{
    font-weight: bold;
    font-family: 'Rubik';
    padding-left: 10px;
  }

  .formulairetoptablette i:nth-child(2),.formulairetop i:nth-child(3){
    border-left: 1px solid #c4c4c4;
  }

  /*petite fleche*/
  .fa-2x{
    color: white;
  }
  /*   @@@@@@@@@@@@ ARTICLES @@@@@@@@@@@@@@@
                  @@@@@@@@@*/
  .articles h2{
    font-size: 25px;
  }
  .articles a{
    width: 22%;
  }

  /*Revenus*/
  .revenus div{
    display: inline-block;
  }
  /*   @@@@@@@@@@@@ section bottom @@@@@@@@@@@@@@@
                  @@@@@@@@@*/

  .sectionbottom nav{
    display: inline-block;
  }
  .sectionbottom h3{
    font-weight: bold;
    color: #4C4C4C;
  }
  .sectionbottom ul{
    margin-top: 10px;
    padding-left:0;
    width: 80%;
  }
  .sectionbottom li a{
    color: grey;
    font-weight: bold;
    line-height: 20px;
  }
  .sectionbottom div{
    margin: 0 0 0 7%;
    display: inline-flex;
    align-items: flex-start;
  }
  .sectionbottom nav{
    font-size: 14px;
  }
  .sectionbottom form{
    margin: 30px 0 0 3%;
    width: 13%;
    display: inline-flex;
    flex-direction: column;
  }
  .langue{
    width: 100%;
    padding-left: 10px;
  }

  .sectionbottom hr:last-child{
    margin-top: 85px;
  }
  /*   @@@@@@@@@@@@ FOOTER @@@@@@@@@@@@@@@
                  @@@@@@@@@*/
  footer ul{
    display: flex;
  }
  footer nav li:nth-child(1){
    display: inline-block;
    margin-right: auto;
  }
}

/*fin tablette*/


/*      000000
    0000000000000
  0000 DESKTOP 0000----/----------/----------/----
    000000000000
        00000
*/
@media (min-width: 992px) {
  /*   @@@@@@@@@@@@ HEADER @@@@@@@@@@@@@@@
                  @@@@@@@@@*/
  h1{
    margin-left:100px;
    width: 45%;
  }

  header nav{
    display: inline-block;
    position: absolute;
    top:20px;
    right: 20Px;
  }
  header nav li {
    display: inline-block;
    margin-left: 25px;
  }

  header nav li a{
    color:grey;
    font-weight: bold;
    font-size: 13px;
    padding-top: 20Px;
  }

  header nav li a:hover{
  border-bottom: 2px solid grey;
  padding-bottom: 10PX;
  }


  /*   @@@@@@@@@@@@ Section TOP @@@@@@@@@@@@@@@
                  @@@@@@@@@*/

  .formulairetoptablette{
    display: none;
  }

  /*Englobeur général*/
  .formulairetop{
    width: 85%;
    height: 80px;
  }
  /*cases*/
  .formulairetop form{
    display: inline-block;
    padding-top: 50%;
    padding-left: 4%;
    height: 100%;
  }
  .formulairetop form:nth-child(5),.formulairetop form:nth-child(4){
    border-left: 1px solid #c4c4c4;
  }

  /*ou quand voyageurs*/
  .formulairetop label{
    font-weight: bold;
    color: #4C4C4C;
  }
  /*input*/
  .formulairetop input ,.voyageurs{
    background-color: white;
    border: none;
    font-size: 16px;
    color: grey;
    font-weight: bold;
  }

  /*Rechercher*/
  #button{
    position:absolute;
    right: 110px;
    background-color: #ff7272;
    color: white;
    border-radius: 5px;
    border: none;
    width: 130px;
    height: 50px;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
  }

  .fa-2x{
    color: white;
  }
  .articles div{
    display: inline-block;
  }
  /*   @@@@@@@@@@@@ ARTICLES @@@@@@@@@@@@@@@
                  @@@@@@@@@*/
  .articles a{
    width: 17%;
  }
  .articles{
    margin-left: 5%;
  }

  /*Fleche de matthieu*/
  .arrowmat{
    color: grey;
    position: absolute;
    right: 90px;
  }
  section:nth-child(3) div{
    top:780px;
  }
  section:nth-child(4) div{
    top:1230px;
  }
  section:nth-child(5) div{
    top:1730px;
  }

  /*   @@@@@@@@@@@@ section bottom @@@@@@@@@@@@@@@
                  @@@@@@@@@*/
  .sectionbottom nav:nth-child(2),.sectionbottom nav:nth-child(3){
    margin-left: 15%;
  }
  .sectionbottom div{
    width: 70%;
  }
  .sectionbottom ul{
    width: 100%;
  }
}
